.App {
  font-family: sans-serif;
  text-align: center;
}
.logo-labenu{
  width: 10vh;
  height: 10vh;
}
footer{
  color: aliceblue;
  background-color: black;
}
header{
  background-color: black;
  color: aliceblue;
}